# Ignore node_modules
node_modules/

# Ignore all JSON files
# *.json

# Ignore log files
*.log

# Ignore Python cache
__pycache__/

# Ignore all unnecessary files
*.lock
.DS_Store
*.tmp
*.bak

# Specific project files
ucla_courses.json
comsci_courses.json

backend/.env
backend/.env.production

frontend/.env.development
frontend/.env.production